@charset "UTF-8";

@font-face {
    font-family: car;
    src: url(fonte/Camiro.ttf);
}

*{
    margin: 0%;
    padding: 0%;
}
img{
    width: 100%;
}


body{
    background-color: #663434;
    font-family: Arial, Helvetica, sans-serif;
}
header h1{
    text-align: center;
    background-image: linear-gradient(to bottom, #540b0e, #411212);
    color: white;
    padding-bottom: 30px;
    padding-top: 20px;
    font-family: car;
    font-size: 2.8em;
    
}
header p{
    background-color: #411212;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 18px;
    font-size: 1.9em;
    font-family: car;
}

nav{
    background-color: #411212;
    box-shadow: -5px 9px 8px 0px rgba(0, 0, 0, 0.459);
    padding-bottom: 5px;
}

nav a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    font-size: bolder;
}
nav a:hover{
    background-color: #ce6161;
    text-decoration: underline;
    transition: 0.5s;
    border-radius: 5px;
}
main{
    background-color: white;
    padding: 18px;
    margin: auto;
    max-width: 800px;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.603);
}

main h1{
    font-family: hip;
    font-size: 2.4em;
    padding-bottom: 10px;
    font-family: car;
    color: #540b0e;
}
main h2{
    font-size: 2.0em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: car;
    background-image: linear-gradient(to right, #c2474b, transparent );
}

main p{
    text-align: justify;
    text-indent: 10px;
    line-height: 1.5em;
}
aside{
    background-color: #663434;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.582); 
}
aside > h3{
    color: white;
    font-family: Car;
    font-size: 1.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
aside > ul{
    list-style-position: inside;
    columns: 2;
    color: white;
}
aside > p{
    color: white;
    padding-bottom: 10px;
}
strong{
    color: red;
}
section.primeiro{
    padding-top: 10vh;
    padding-bottom: 40vh;
    background-image: url(imagens/veigh-2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 1px 0px 16px 6px black;
}

section.segundo{
    padding-top: 10vh;
    padding-bottom: 40vh;
    background-image: url(imagens/veigh-agua1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    box-shadow: inset 1px 0px 16px 6px black;
}

footer{
    background-color:#411212;
    color: white;
    text-align: center;
    padding: 5px;
}